.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

h6 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.portfolio__item {
  background: var(--primary-color);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  backdrop-filter: blur(15px);
  height: 400px; /* fixed height */
  display: flex; /* display as flex container */
  flex-direction: column; /* flex items should be stacked vertically */
}

.portfolio__item:hover {
  border: 1px solid var(--quaternary-color);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
  height: 30%;
}

.portfolio__item h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 3.5rem;
}

.portfolio__item .description {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-top: auto; /* align to the bottom */
}

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
