@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-color: rgb(66, 22, 92);
  --secondary-color: rgb(132, 77, 164);
  --tertiary-color: rgb(206, 151, 228);
  --quaternary-color: rgb(227, 183, 96);
  --quinary-color: rgb(251, 140, 5);
  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
  background-image: url("/public/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: top;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--quaternary-color);
  line-height: 1.7;
}

/* ******************** GENERAL STYLES ******************** */

.container {
  max-width: var(--container-width-lg);
  margin: 0 6rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--quaternary-color);
}

section > h2 {
  color: var(--quinary-color);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--tertiary-color);
}

a {
  color: var(--quinary-color);
  transition: var(--transition);
}

a:hover {
  color: var(--quinary-color);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--quinary-color);
  padding: 0.75rem 1.2rem;
  border: 1px solid var(--quinary-color);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  color: var(--quaternary-color);
  background: var(--secondary-color);
  border: transparent;
}

.btn-primary {
  color: var(--quinary-color);
  background: var(--secondary-color);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* ******************** MQueries Tablet ******************** */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ******************** MQueries (Small Devices) ******************** */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }

  html {
    background-position-x: center;
    background-position-y: center;
  }
}
